<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hibernate-final.text"
                         filePattern="logs/hibernate-final.%d{yyyy-MM-dd}.text">
            <PatternLayout>
                <Pattern>%d %p %c{1.}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs/">
                    <IfFileName regex="hibernate-final\.\d{4}-\d{2}-\d{2}\.text" />
                    <IfLastModified age="1d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>